.comment-section {
	margin: 0 auto;
	margin-top: 25px;
	max-width: 500px;
	padding: 0 10px;
}
.comment-input {
	border-bottom: 1px solid black;
}
.comment-input input::placeholder {
	width: 100%;
	text-align: left;
}
.comment-inner {
	font-size: 15px;
	text-align: left;
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}
.comment-add {
	display: flex;
	justify-content: center;
	cursor: pointer;	
	margin: 10px 0;
}
.comment-add__btn {
	padding: 5px;
	border: 1px solid lightgray;
	border-radius: 15px;
	background-color: lightgray;
}
.comment-name {
	font-weight: 700;
	margin-right: 10px;
}